language: ruby

before_install:
  - rvm get head
  - gem install bundler

script: "bundle exec rake test"
rvm:
  - 2.2.6
  - 2.3.3
  - 2.4.0
  - ruby-head
  - jruby
  - jruby-9.1.8.0
gemfile:
  - gemfiles/active_record_42.gemfile
  - gemfiles/active_record_50.gemfile
  - gemfiles/active_record_51.gemfile
  - gemfiles/active_record_edge.gemfile
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby
    - rvm: jruby-9.1.8.0
    - gemfile: gemfiles/active_record_edge.gemfile
  fast_finish: true
